@import url('https://fonts.googleapis.com/css2?family=Anek+Devanagari:wght@100..800&family=Assistant:wght@200..800&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import '../css/components/anchor.css';
@import '../css/components/animations.css';
@import '../css/components/background.css';
@import '../css/components/border.css';
@import '../css/components/box.css';
@import '../css/components/default.css';
@import '../css/components/display.css';
@import '../css/components/flex.css';
@import '../css/components/font.css';
@import '../css/components/grid.css';
@import '../css/components/height.css';
@import '../css/components/image.css';
@import '../css/components/keyframes.css';
@import '../css/components/list.css';
@import '../css/components/margin.css';
@import '../css/components/opacity.css';
@import '../css/components/overflow.css';
@import '../css/components/padding.css';
@import '../css/components/position.css';
@import '../css/components/progress-bar.css';
@import '../css/components/root.css';
@import '../css/components/scroll-bar.css';
@import '../css/components/table.css';
@import '../css/components/transition.css';
@import '../css/components/width.css';
@import '../css/components/z-index.css';

@import '../css/plugins/fontawesome.css';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';
