.pulse {
    animation: pulse-animation 2s infinite;
}

.activity-slide-in {
    animation: slideInFromTop 0.4s ease-out forwards;
}

.grid-one-column > div {
    transition: transform 0.4s ease-out;
}
