.border-radius {
    border-radius: var(--border-radius);
}
.border-radius-two {
    border-radius: var(--border-radius-two);
}
.border-radius-three {
    border-radius: var(--border-radius-three);
}
.border-radius-top-left {
    border-radius: 10px 0 0 0;
}

.border {
    border: 1px solid var(--border-color);
}
.border-bottom {
    border-bottom: 1px solid var(--border-color);
}
.border-top {
    border-top: 1px solid var(--border-color);
}
.border-left {
    border-left: 1px solid var(--border-color);
}
.border-right {
    border-right: 1px solid var(--border-color);
}

.border-two {
    border: 2px solid var(--border-color-two);
}
