.grid {
    display: grid;
}

.grid-one-column {
    grid-template-columns: auto;
}
.grid-two-columns {
    grid-template-columns: repeat(2, auto);
}
.grid-three-columns {
    grid-template-columns: repeat(3, auto);
}
.grid-four-columns {
    grid-template-columns: repeat(4, 1fr);
}

.grid-gap {
    gap: var(--grid-gap);
}
.grid-gap-two {
    gap: var(--grid-gap-two);
}
.grid-gap-three {
    gap: var(--grid-gap-three);
}
.grid-gap-four {
    gap: var(--grid-gap-four);
}

.grid-two-columns-three-fr-one-fr {
    grid-template-columns: 3fr 1fr;
}



