.grid {
    display: grid;
}

.grid-one-column {
    display: grid;
    grid-template-columns: auto;
}
.grid-two-columns {
    display: grid;
    grid-template-columns: repeat(2, auto);
}
.grid-four-columns {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.grid-gap {
    gap: var(--grid-gap);
}
.grid-gap-two {
    gap: var(--grid-gap-two);
}

.grid-two-columns-threefr-onefr {
    display: grid;
    grid-template-columns: 3fr 1fr;
}



