.margin {
    margin: var(--margin);
}
.margin-0-auto {
    margin: var(--margin-0-auto);
}

.margin-top {
    margin-top: 25px;
}
.margin-minus-top {
    margin-top: -4px;
}
.margin-minus-top-two {
    margin-top: -250px;
}
.margin-minus-top-three {
    margin-top: -2px;
}

.margin-left {
    margin-left: 40px;
}
.margin-top-two {
    margin-top: 5px;
}
.margin-top-three {
    margin-top: 15px;
}

.margin-bottom {
    margin-bottom: 0;
}
