.padding {
    padding: var(--padding);
}
.padding-two {
    padding: var(--padding-two);
}
.padding-three {
    padding: var(--padding-three);
}
.padding-four {
    padding: var(--padding-four);
}
.padding-five {
    padding: var(--padding-five);
}
.padding-six {
    padding: var(--padding-six);
}
.padding-seven {
    padding: var(--padding-seven);
}
.padding-eight {
    padding: var(--padding-eight);
}
.padding-nine {
    padding: var(--padding-nine);
}
.padding-ten {
    padding: var(--padding-ten);
}
