:root {
    --background-color: #1f2333;
    --background-color-two: #3b82f612;
    --background-color-three: #2e3343;
    --background-color-four: #a7a7a70d;
    --background-color-five: #599bfa;

    --height: calc(80vh);

    --background-image: url(../images/header.webp) center center no-repeat;
    --mask-image: linear-gradient(to bottom, rgba(0,0,0,1), rgba(0,0,0,0));
    --background-image-two: url(../images/footer.webp) center center no-repeat;
    --mask-image-two: linear-gradient(to top, rgba(0,0,0,0.6), rgba(0,0,0,0));

    --border-color: #ffffff1c;
    --border-color-two: #393e4e;

    --z-index: -1;
    --z-index-two: 2;

    --opacity: 0.2;

    --border-radius: 10px;
    --border-radius-two: 50%;
    --border-radius-three: 5px;

    --padding: 0;
    --padding-two: 1.5rem;
    --padding-three: 1.5rem;
    --padding-four: 0.6rem 0.75rem 0.6rem 0.75rem;
    --padding-five: 8rem 0 8rem 0;
    --padding-six: 0.2rem 0.5rem 0.2rem 0.2rem;
    --padding-seven: 0.75rem 0.75rem 0.75rem 0.75rem;
    --padding-eight: 3rem 0 3rem 0;
    --padding-nine:  0.15rem 0 0.15rem 0;
    --padding-ten:  1.5rem 0 1.5rem 0;

    --padding-left: 0 0 0 1rem;

    --margin: 0;
    --margin-0-auto: 0 auto;

    --transition: 0.1s;

    --font-family: 'Poppins', sans-serif;

    --font-size: 1rem;
    --font-size-two: 0.9rem;

    --color: #ffffff;
    --color-two: #599bfa;
    --color-three: #ffffffcc;

    --font-weight-six-hundred: 600;

    --grid-gap: 15px;
    --grid-gap-two: 25px;
}
