::-webkit-scrollbar {
    width: 6px;
}
::-webkit-scrollbar-thumb {
    border: 4px solid rgba(0, 0, 0, 0);
    background-clip: padding-box;
    border-radius: 9999px;
    background: #599bfa;
    cursor: pointer;
}
